---
title: Shout
---

<div class="welcome">
  <h1>Shout Your Story!</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->